* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 0 2rem;
  display: flex;
  padding: 2rem;
  font-family: "Anek Tamil", sans-serif;
  gap: 4rem;
}

.heading {
  text-align: center;
}
.desc {
  flex-grow: 1;
  padding: 2rem;
}
.hidden {
  display: none;
}
.arabic-text {
  text-align: right;
  font-size: 1.5rem;
}
.container {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  gap: 1rem;
}
.click {
  margin: 0;
  grid-template-columns: 1fr;
  height: 100vh;
  overflow-y: scroll;
  padding: 1rem 0;
}
.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.card {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
  align-items: center;
  width: 300px;
  border: 1px solid #ebebeb;
  border-radius: 5px;
}
.num {
  width: 40px;
  height: 40px;
  background-color: #f0efef;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(45deg);
}
.name {
  font-weight: 500;
}
.number {
  transform: rotate(-45deg);
}
.arabic {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.2rem;
}
.ayahs {
  font-size: 13px;
}
.card:hover {
  border-color: #2ca4ab;
  background-color: #f8f9fa;
  cursor: pointer;
}
.card:hover .num {
  background-color: #2ca4ab;
}
